{# templates/author/Affiche.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Liste des auteurs{% endblock %}

{% block body %}
<h1>Liste des auteurs</h1>

{% if authors is empty %}
    <p>Aucun auteur enregistré.</p>
{% else %}
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        table, th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>

    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>edit</th>
                <th>delete</th>
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
                <tr>
                    <td>{{ author.username }}</td>
                    <td>{{ author.email }}</td>
                    <td><a href={{ path('app_edit', {'id' : author.id})}}">edit</td>
                    <td><a href={{ path('app_delete', {'id' : author.id})}}">delete</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}